.title clock
<script type="text/javascript" src="/tools/clock.js"></script>
<link rel="stylesheet" href="/tools/clock.css" />

#clock-base
  #clock-base-inner
    #sec-pointer
      #sec-pointer-inner
    #min-pointer
      #min-pointer-inner
    #hour-pointer
      #hour-pointer-inner

:javascript
  clock_init()