%h1 this is the place for halida to test and run html5 code
%h2 experimental
%ul
  %li=link_to "scroll", "/exp/scroll"
  %li=link_to "wall", "/exp/wall"

%h2 tools
%ul
  %li=link_to "clock", "/tools/clock"

%h2 games
%ul
  %li=link_to "game1", "/games/game1"
  %li=link_to "game2", "/games/game2"
  %li=link_to "game3", "/games/game3"